body {
    margin: 0px;
    text-align: center;
    font-family: 'EB Garamond', serif;
}
h2 {
    font-size: 2.5rem;
}

/*------------------- nav bar ----------------------*/
.my-custom-navbar {
    background-color: #adbc71d1; /*#adbc71;*/
    position: fixed;
    width: 100%;
    padding-top: 4px;
}
.my-custom-brand {
    font-family: 'Parisienne', cursive;
    font-weight: 900;
}

/*------------------- top container ----------------*/
.top-container {
    background-color: #CCD6A6;
    padding-top: 64px;
}
.my-name {
    font-weight:bolder;
}
.banner-text {
    display: inline-block;
    width: 40%;
}
.banner-text h1 {
    font-family: 'Parisienne', cursive;
    font-size:3.8rem;
    margin-bottom: 0.2%;
}
.banner-text h2 {
    margin-top: 0%;
}
.left-cloud {
    position: relative;
    top: 50px;
}
.right-cloud {
    position: relative;
    bottom: 10px;
}

/*----------------- mid container--------------------*/
.middle-container {
    margin-top: 4%;
}
.section-divide-line {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.profile, .skills {
    width: 32%;
    margin: 0 auto;
}
.skill-divide-line {
    border-style: dotted none none;
    border-width: 8px;
    border-color: lightgray;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}
.contact-me h2 {
    margin-bottom: 0;
}
.contact-me p {
    margin-top: 0;
    margin-bottom: 2%;
}
.btn-contact-me {
    background: #ccd6a6;
    background-image: -webkit-linear-gradient(top, #ccd6a6, #a2b06c);
    background-image: -moz-linear-gradient(top, #ccd6a6, #a2b06c);
    background-image: -ms-linear-gradient(top, #ccd6a6, #a2b06c);
    background-image: -o-linear-gradient(top, #ccd6a6, #a2b06c);
    background-image: linear-gradient(to bottom, #ccd6a6, #a2b06c);
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn-contact-me:hover {
    background: #d2dbad;
    background-image: -webkit-linear-gradient(top, #d2dbad, #acb588);
    background-image: -moz-linear-gradient(top, #d2dbad, #acb588);
    background-image: -ms-linear-gradient(top, #d2dbad, #acb588);
    background-image: -o-linear-gradient(top, #d2dbad, #acb588);
    background-image: linear-gradient(to bottom, #d2dbad, #acb588);
    text-decoration: none;
}

/*----------------- bottom container ----------------*/
.bottom-container {
    background-color: #CCD6A6;
    margin-top: 4%;
}
.footer-link {
    display: inline-block;
    margin-top: 1%;
    padding: 0 0.8rem;
    color: floralwhite;
}
.footer-link:hover {
    color: #eee5d3;
}
.site-note {
    width: 45%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.copy-right {
    font-size: 0.7rem;
    color: gray;
}
